@import "../../_globalColor";

.footer-text > a {
  text-decoration: none;
}

.footer-text > a:link {
  color : gray;
}

.footer-text > a:hover {
  color : #84b4d3;
}

.footer-text {
  text-align: center;
  color: $subTitle !important;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  margin-top: 2rem;
  border-top: 2px outset;
  padding-bottom: 1rem;

}
